<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <% taxonomies.includes(:root).each_with_index do |taxonomy, i| %>
        <ul class="nav navbar-nav side-nav">
          <li>
            <%= link_to "javascript:;", "data-toggle": "collapse", "data-target": "##{i}" do %>
              <i class="fa fa-plus"></i><%= taxonomy.name %>
            <% end %>
            <ul id=<%= i %> class="collapse collapseItem">
              <% taxonomy.root.leaves.each do |taxon| %>
                <li class="taxonomy-link">
                  <%= link_to potepan_category_path(taxon.id), class: "taxonomy-name" do %>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <%= taxon.name %> <span><%= "(#{taxon.products.count})" %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="#">ブラック<span>(15)</span></a></li>
      <li><a href="#">ホワイト<span>(10)</span></a></li>
      <li><a href="#">レッド<span>(7)</span></a></li>
      <li><a href="#">ブルー<span>(12)</span></a></li>
      <li><a href="#">オレンジ<span>(12)</span></a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <li><a href="#">S<span>(15)</span></a></li>
      <li><a href="#">M<span>(10)</span></a></li>
      <li><a href="#">L<span>(7)</span></a></li>
      <li><a href="#">XL<span>(12)</span></a></li>
    </ul>
  </div>
</div>
