<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <%= link_to potepan_product_path(product.id), class: "product-link-wrapper" do %>
      <div class="productImage clearfix">
        <%= image_tag(product.display_image.attachment(:large), :alt => "products-img") %>
      </div>
      <div class="productCaption clearfix product-name-link">
        <h5 class="product-name"><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </div>
    <% end %>
  </div>
</div>
