<%= provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render "page_header", taxon: @taxon %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "panel", taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_area" %>
        <div class="row">
          <%= render partial: "product", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "logo" %>
