<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if product.images.any? %>
      <% product.images.each_with_index do |image, i| %>
        <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>" >
          <%= image_tag(image.attachment(:large)) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>