<% provide(:title, @product.name)%>
<!-- LIGHT SECTION -->
<%= render "light_section", product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <%= render "large_image", product: @product %>
            <%= render "small_image", product: @product %>
          </div>
          <%= render "media_body", product: @product %>
        </div>
      </div>
    </div>
    <%= render "products_content" %>
  </div>
</section>
